<!-- Sign in form -->
<form class="signin-form" (submit)="onSubmit()">
  <h1 class="main-heading">Employee sign in</h1>
  <!-- Login Logo -->
  <img class="main-logo" 
  src="assets/images/Zensar_Logo.jpg" type="jpg">
  <!-- Email id input field -->
  <input class="form-control" 
  type="email" placeholder="Email address" 
  name="user" [(ngModel)]="email">
  <!-- password input field -->
  <input class="form-control" 
  type="password"
  placeholder="Password" name="password" [(ngModel)]="password">
  <!-- Login button -->
  <button type="submit" class="btn btn-primary btn-block">Sign in</button>
  <div *ngIf="checkCredentials" class="alert alert-danger credentials" 
  >{{errorMessage}}</div>
  <!-- Text elements -->
  <p class="no-account-msg">Don't have an account?</p>
  <p routerLink="/signup" class="signup-link">sign up now</p>
  <P class="copyright-text">&copy; 2018-2019</P>
</form>